<?xml version="1.0" ?>
<!--
/**
 * @author Magexperts Team
 * @copyright Copyright (c) 2022 Magexperts (https://www.magexperts.com)
 * @package Magexperts_MicrosoftClarity
 */
-->
<!--
/**
 * Copyright © Magexperts. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Magexperts_MicrosoftClarity::config_magexperts_microsoft_clarity" title="microsoft"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
