<?xml version="1.0"?>
<!--
/**
 * @author Magexperts Team
 * @copyright Copyright (c) 2022 Magexperts (https://www.magexperts.com)
 * @package Magexperts_Core
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magexperts_extensions" translate="label" sortOrder="999998" class="magexperts-tab">
            <label>Magexperts Extensions</label>
        </tab>
        <section id="magexperts_core" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label><![CDATA[Information &amp; Marketplace]]></label>
            <tab>magexperts_extensions</tab>
            <resource>Magexperts_Core::config</resource>
            <group id="menu" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Magexperts Menu</label>
                <field id="menu_enable" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Magexperts Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="notifications" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Notifications</label>
                <field id="notice_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes if you want get latest information about new or updated Magexperts extensions, discounts, atricles and etc.</comment>
                </field>
                <field id="notice_type" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>I'd like to be informed by Magexperts about:</label>
                    <source_model>Magexperts\Core\Model\Config\Source\NoticeType</source_model>
                    <comment>Select notice types that you want to receive notifications</comment>
                    <depends>
                        <field id="notice_enable">1</field>
                    </depends>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Frequency</label>
                    <source_model>Magexperts\Core\Model\Config\Source\Frequency</source_model>
                </field>
                <field id="last_update" translate="label" type="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Last Update</label>
                    <frontend_model>Magexperts\Core\Block\System\Config\Form\Field\Notification</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
