<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magexperts (support@magexperts.com). All rights reserved.
 * Please visit Magexperts.com for license details (https://magexperts.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magexperts_AutoRelatedProduct" setup_version="2.0.1"/>
    <sequence>
        <module name="Magexperts_Community"/>
    </sequence>
</config>
