<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magexperts (support@magexperts.com). All rights reserved.
 * Please visit Magexperts.com for license details (https://magexperts.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Config\ScopeConfigInterface">
        <plugin name="Plugin_Magexperts_GoogleTagManager_ScopeConfigInterface" type="Magexperts\GoogleTagManager\Plugin\Magento\Framework\App\Config\ScopeConfig" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="Magexperts_GoogleTagManager_Plugin_Magento_Customer_CustomerData_Customer" type="Magexperts\GoogleTagManager\Plugin\Magento\Customer\CustomerData\Customer" sortOrder="10" disabled="false"/>
    </type>
</config>
