<?xml version="1.0"?>
<!--
/**
 * @author Magexperts Team
 * @copyright Copyright (c) 2022 Magexperts (https://www.magexperts.com)
 * @package Magexperts_TwoFactorAuthentication
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Magento\User\Controller\Adminhtml\User\Save">
        <plugin name="tfa_save_roles" type="Magexperts\TwoFactorAuthentication\Plugin\Controller\Adminhtml\User\SaveUser" sortOrder="4"/>
    </type>
    
    <type name="Magento\Backend\Controller\Adminhtml\Auth\Login">
        <plugin name="tfa_before_login" type="Magexperts\TwoFactorAuthentication\Plugin\Controller\Adminhtml\User\BeforeLogin" sortOrder="4"/>
    </type>
    
</config>
