<!--@subject {{trans "Refund Request Has Been Rejected"}}  @-->
{{template config_path="design/email/header_template"}}
<table width="100%">
    <tr class="email-intro" style="font-family: Roboto; font-size: 21.5px;">
        <td>
            <p class="greeting" style="margin-bottom: 0px">
                <b>{{trans "Dear %customerName," customerName=$customerName}}</b>
            </p>
            <p>
                <b>{{trans "Your refund request has been rejected."}}</b>
            </p>
        </td>
    </tr>
    <tr class="email-summary" style="font-family: Roboto; font-size: 17px;">
        <td style="padding-bottom: 20px;">
            <b>{{trans "Order  ID "}}</b>{{trans "#%incrementId" incrementId=$incrementId}}<br>
            <b>{{trans "Refund Request ID "}}</b>{{trans "#%id" id=$id}}<br>
            <hr style="margin-bottom: 5px; margin-top: 5px;">
            <p>{{trans 'Rejected at %timeApproved ' timeApproved=$timeApproved}}</p>
        </td>
    </tr>
    <tr class="email-information" style="font-family: Roboto; font-size: 17px;">
        <td>
            <p>We are sorry to announce that your refund request is rejected due to your violation against the <a
                    href="#">Refund and Return Policy.</a><br>If you have further questions please contact us at <a
                    href="tel:1-800-403-8838">1-800-403-8838</a> or email <a href="mailto:pr@luma.com">pr@luma.com</a>
            </p>
            <center><img src="{{view url='Magexperts_RefundRequest/images/sorry.png'}}" alt="{{trans 'Sorry'}}" /></center>
            <center><p>Thank you!</p></center>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}