<?xml version="1.0"?>
<!--
/**
 * Magexperts Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://magexperts.com/Magexperts-License.txt
 *
 * @category   Magexperts
 * @package    Magexperts_StoreviewFlags
 * @author     Extension Team
 * @copyright  Copyright (c) 2019-2020 Magexperts Co. ( http://magexperts.com )
 * @license    http://magexperts.com/Magexperts-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Magexperts Commerce]]></label>
        </tab>
        <section id="bss_store_flag" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Storeview Flags</label>
            <tab>bss</tab>
            <resource>Magexperts_StoreviewFlags::config</resource>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Storeview Flags</label>
                <field id="enable_module" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.0.0]]></comment>
                </field>
            </group>
            <group id="store_name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hide Storeview Names</label>
                <field id="enable_name" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="image" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Upload</label>
                <field id="uploadflag" translate="label" type="image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Flag</label>
                    <backend_model>\Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">bssstoresflags</upload_dir>
                    <base_url type="media" scope_info="1">bssstoresflags</base_url>
                    <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png]]></comment>
                </field>
                <field id="imgwidth" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Flag Width</label>
                    <comment><![CDATA[px]]></comment>
                    <validate> validate-number required-number validate-greater-than-zero</validate>
                </field>
                <field id="imgheight" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Flag Height</label>
                    <comment><![CDATA[px]]></comment>
                    <validate> validate-number required-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
