<?xml version="1.0"?>
<!--
/**
 * Copyright © Magexperts (support@magexperts.com). All rights reserved.
 * Please visit Magexperts.com for license details (https://magexperts.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="magexperts_community_controller_action_predispatch" instance="Magexperts\Community\Observer\PredispathAdminActionControllerObserver" />
    </event>
    <event name="controller_action_predispatch_adminhtml_system_config_save">
        <observer name="magexperts_community_controller_action_predispatch_adminhtml_system_config_save" instance="Magexperts\Community\Observer\ConfigObserver"/>
    </event>
</config>