<?xml version="1.0"?>
<!--
/**
 * Magexperts Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://magexperts.com/Magexperts-License.txt
 *
 * @category   Magexperts
 * @package    Magexperts_RefundRequest
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 Magexperts Commerce Co. ( http://magexperts.com )
 * @license    http://magexperts.com/Magexperts-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="Magexperts_RefundRequest_Plugin_Validate" type="Magexperts\RefundRequest\Model\Plugin\Validate" />
    </type>
    <virtualType name="MagexpertsRefundRequestFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MagexpertsRefundRequestDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magexperts\RefundRequest\Model\ResourceModel\Request\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MagexpertsRefundRequestFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magexperts\RefundRequest\Model\ResourceModel\Request\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">bss_refundrequest</argument>
            <argument name="eventPrefix" xsi:type="string">bss_refundrequest_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">refundrequest_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magexperts\Refundrequest\Model\ResourceModel\Request</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bss_refundrequest_list_data_source" xsi:type="string">Magexperts\RefundRequest\Model\ResourceModel\Request\Grid\Collection</item>
                <item name="bss_refundrequest_label_data_source" xsi:type="string">Magexperts\RefundRequest\Model\ResourceModel\Label\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MagexpertsRequestLabelFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MagexpertsRequestLabelDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magexperts\RefundRequest\Model\ResourceModel\Label\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MagexpertsRequestLabelFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magexperts\RefundRequest\Model\ResourceModel\Label\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">bss_requestlabel</argument>
            <argument name="eventPrefix" xsi:type="string">bss_requestlabel_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">requestlabel_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magexperts\Refundrequest\Model\ResourceModel\Label</argument>
        </arguments>
    </type>
</config>
