<?xml version="1.0"?>
<!--
/**
 * Magexperts Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://magexperts.com/Magexperts-License.txt
 *
 * @category  Magexperts
 * @package   Magexperts_FacebookPixel
 * @author    Extension Team
 * @copyright Copyright (c) 2018-2019 Magexperts Co. ( http://magexperts.com )
 * @license   http://magexperts.com/Magexperts-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magexperts" translate="label" sortOrder="300">
            <label><![CDATA[Magexperts Commerce]]></label>
        </tab>
    <section id="magexperts_facebook_pixel" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
        <label><![CDATA[Facebook Pixel]]></label>
        <tab>magexperts</tab>
        <resource>Magexperts_FacebookPixel::config_system</resource>
        <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[General]]></label>
            <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Enable Facebook Pixel]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <comment><![CDATA[Version 1.0.4]]></comment>
            </field>
            <field id="pixel_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Pixel ID]]></label>
                <validate>required-entry validate-number</validate>
                <comment><![CDATA[Input Your Facebook Pixel ID.]]></comment>
                <depends><field id="*/general/active">1</field></depends>
            </field>

        </group>
        <group id="event_tracking" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Event Tracking]]></label>
            <field id="disable_code" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Disable Pageview on]]></label>
                <source_model>Magexperts\FacebookPixel\Model\Config\Source\Pages</source_model>
                <comment><![CDATA[Select pages to disable pageview.]]></comment>
                <can_be_empty>1</can_be_empty>
            </field>
            <field id="product_view" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Product View]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="category_view" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Category View]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="add_to_cart" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Add to Cart]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="initiate_checkout" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Initiate Checkout]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="purchase" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Purchase]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="add_to_wishlist" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Add to Wishlist]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="registration" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Registration]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="subscribe" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Subscribe]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="search" translate="label" type="select" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Search]]></label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
        </group>
    </section>
    </system>
</config>
