<?xml version="1.0"?>
<!--
/**
 * Magexperts Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://magexperts.com/Magexperts-License.txt
 *
 * @category   Magexperts
 * @package    Magexperts_RefundRequest
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 Magexperts Co. ( http://magexperts.com )
 * @license    http://magexperts.com/Magexperts-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magexperts_RefundRequest::request" title="Refund Request by Customer" action="magexperts_refundrequest/request/index" module="Magexperts_RefundRequest" sortOrder="90" parent="Magento_Sales::sales_operation" resource="Magento_Sales::sales_magexperts_refund_request"/>
        <add id="Magexperts_RefundRequest::label" title="Refund Request Dropdown Options" action="magexperts_refundrequest/label/index" module="Magexperts_RefundRequest" sortOrder="100" parent="Magento_Sales::sales_operation" resource="Magento_Sales::sales_magexperts_refund_request_label"/>
    </menu>
</config>
