<?xml version="1.0"?>
<!--
/**
 * Copyright © Magexperts (support@magexperts.com). All rights reserved.
 * Please visit Magexperts.com for license details (https://magexperts.com/end-user-license-agreement).
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magexperts_Cli::elements" title="Command Line" translate="title" module="Magexperts_Cli" parent="Magento_Backend::system_tools" action="mfcli/index" sortOrder="60" resource="Magexperts_Cli::elements"/>
    </menu>
</config>
